<div class="body">
    <div class="wrapper login">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Welcome!</h2>
                    <p>Create your account.<br>For Free!</p> <a href="" routerLink="register" class="btn">Sign Up</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2>Login</h2>
                    
                    <form action="" [formGroup]="logForm" (ngSubmit)="authenticate()">
                        <div> 
                            <label>Username<span>*</span></label> 
                            <input type="text" placeholder="Username" required formControlName="username" > 

                        </div>
                        <div> 
                            <label>Password<span>*</span></label> 
                            <input type="password" placeholder="Password" required formControlName="password"> 

                        </div>
                        <p> <input type="submit" value="Sign In"> </p>
                        <p> <a href="">Forgot password?</a> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>