<!-- <div *ngFor="let image of cakeImages">
        <img class="product-image" [src]="image" alt="Cake Images" />
      </div> -->


<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="product-image" src={{cake.image}} alt="Cake Image" /></div>
            
            <div class="col-md-6">
                <div class="product-details-container">
                    <div class="small mb-1">{{cake.category}}</div>
                    <h1 class="display-5 fw-bolder">{{cake.name}}</h1>
                    <div class="fs-5 mb-5">
                        <span>{{cake.price|currency:'INR'}}</span>
                    </div>
                    <p class="lead">Shape: {{cake.shape}}</p>
                    <p class="lead">Weight: {{cake.weight}}</p>
                    <p class="lead">Layers: {{cake.layers}}</p>
                    <div class="product-form">
                        <form action="" [formGroup]="quantityForm" (ngSubmit)="cartAdd()">
                            <input class="form-control text-center me-3" id="inputQuantity" type="number" placeholder="quantity" min="1"  style="max-width: 6rem" formControlName="quantity" required />
                        </form>
                        
                        <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="cartAdd()">
                            <i class="fa-regular fa-square-check"></i>
                            Add to Cart
                        </button>&nbsp;&nbsp;
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-regular fa-comments"></i>
                            Add your Review
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Review section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h2 class="text-center mb-4">Customer Reviews</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="card review-card" *ngFor="let r of cake.reviews">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{r.user}}</li>
                                <li class="list-group-item">{{r.comment}}</li>
                                <li class="list-group-item">{{r.rating}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add your Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="reviewForm" (ngSubmit)="addReview()">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Enter your Comment" formControlName="comment">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Enter your Rating" formControlName="rating">
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

